<ul>
	<li *ngFor="let item of lista">
		Mesa: {{item.mesa}}, hora do pedido : {{item.hora}}
		<ul>
			<li *ngFor="let pedido of item.pedido">
				{{pedido.item}}
			</li>
		</ul>
		<button class="btn btn-primary" (click)="selecionar(item)">Abrir</button>
	</li>
</ul>

<div id="dialog-back" *ngIf="selecionado">
	<div id="dialog" >
		Dialog
		Mesa: {{selecionado.mesa}} 
		<ul>
			<li *ngFor="let pedido of selecionado.pedido">
				{{pedido.item}}
				<ol *ngIf="pedido.ingredientes">
					<li *ngFor="let ingrediente of pedido.ingredientes">
						{{ingrediente.nome}}
					</li>
				</ol>	
			</li>
		</ul>
	</div>
	<button>Fechar</button>
	<button clas="btn btn-warning">Concluir pedido</button>
</div>