<div class="container">
	<hr>
    <form (ngSubmit)="novoPedido(mesa)">
    	<div class="input-group">
            <input placeholder="Número da mesa..." class="form-control" type="number" [(ngModel)]="mesa" name="mesa" id="mesa">
            <span class="input-group-btn">
                <button class="btn btn-primary" [disabled]="mesa==''">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Novo Pedido</button>
            </span>
    	</div>
    </form>
    
    <lista-pedido [type]="'garcon'"></lista-pedido>
    <novo-pedido *ngIf="novo" [mesa]="mesa" (onSave)="adicionarPedido($event)" (onCancel)="novo=false;mesa=''"></novo-pedido>
</div>