<div id="NovoPedidoScreen">
	<h1>Novo pedido</h1>
	<div id="NovoPedido" class="panel">
		<div class="panel-body">
		<form (ngSubmit)="salvar()">
			<div class="form-group">
				<label>Mesa</label>	
				<input class="form-control" type="number" [(ngModel)]="mesa" name="mesa">
			</div>
			
			<div class="form-group">
				<label>Filtro de Itens</label>	
				<input class="form-control" type="text" [(ngModel)]="searchitem" name="searchitem">
			</div>
			
			<div class="lista-items">
				<a *ngFor="let item of items|filter:searchitem:'nome'" class="item btn " [ngClass]="{selected:item.selected,'btn-default':!item.selected,'btn-info':item.selected}"(click)="select(item)">
					{{item.nome}}
				</a>
				<p *ngIf="items.length<=0&&!loading" class="alert alert-warning">Sem itens no estoque...</p>
				<p *ngIf="loading" class="alert alert-info">Carregando itens...</p>
			</div>

			<h3>Items</h3>
		
			<div>
				<div *ngFor="let item of pedido.items">
					<a class="btn btn-default" (click)="addQt(item,-1)">-</a>
					{{item.item.nome}} x {{item.quantidade}}
					<a class="btn btn-default" (click)="addQt(item,1)">+</a>
				</div>
			</div>
			
			<button [disabled]="pedido.items.length<1" class="btn btn-success pull-right">Salvar</button>
		
		</form>
		</div>
		<div class="panel-footer">
		<button (click)="cancelar()" class="btn btn-warning pull-right">cancelar</button>
		</div>
	</div>
</div>