<div *ngIf="model">
<div class="panel panel-default" *ngFor="let pedido of model" >
<div class="panel-body">
    
  

  <h3> Mesa: {{pedido.mesa}} </h3>
 
   <div *ngIf="type=='cozinha'">
    <h4>Itens</h4>
    <table class="table table-default table-bordered">
      <tr><th>Item</th><th>Quantidade</th></tr>
      <tr *ngFor="let item of pedido.items " >
        <td> {{item.produto.nome}} </td>
        <td> {{item.quantidade}} </td>
      </tr>
    </table>
   	  

      <button class="pull-right btn btn-default" (click)="pronto(pedido)">Pronto para entrega</button>
   </div>
 
  <span class='pull-right' *ngIf="type=='garcon'"> 
  	<span class="badge" [ngClass]="getClass(pedido.status.id)">{{pedido.status.nome|uppercase}}</span>
  	<button *ngIf="pedido.status.id==2" class="btn btn-primary" (click)="entregar(pedido)">Entregar</button>
  	<button *ngIf="pedido.status.id==3" class="btn btn-primary" (click)="fecharConta(pedido)">Fechar Conta</button>
  </span>

</div>
</div>
</div>