
<div class="container">
	<div class="centerform">
		<form (ngSubmit)="confirm()" id="loginForm" >
			<div class="form-group">
				<label for="usuario">Usuário</label>
				<input [disabled]="loading" [(ngModel)]="model.usuario" class="form-control" type="text" name="usuario" id="usuario">
			</div>
			<div class="form-group">
				<label for="senha">Senha</label>
				<input [disabled]="loading" [(ngModel)]="model.senha" class="form-control" type="password" name="senha" id="senha">
			</div>
			<button [disabled]="loading" type="submit" class="btn btn-primary">Login</button>
		</form>
	</div>
</div>
